streamlit
scapy
networkx
matplotlib
scikit-learn
pandas
ping3
numpy
nmap
networkx
psutil 
speedtest-cli 
seaborn 
plotly
joblib
threading
time
folium
requests
socket
streamlit_folium
sklearn
speedtest